

.displayGrid{
    display: grid; 
    gap: 30px; 
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    margin-top: 2%;
}
.childElements{
    /* margin: 1%; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.childElements img{
    height: 200px;
    width: 100%;
}
.cartBodyEach h5{
     text-transform: uppercase;
}